<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

<!--    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table th:each="job : ${jobs}">
        <tr><td>ID: </td><td th:text="${job.id}">id</td></tr>
        <tr><td>Name: </td><td th:text="${job.name}">name</td></tr>
        <tr><td>Employer: </td><td th:text="${job.employer}">employer</td></tr>
        <tr><td>Location: </td><td th:text="${job.location}">location</td></tr>
        <tr><td>Position: </td><td th:text="${job.positionType}">position</td></tr>
        <tr><td>Competency Core: </td><td th:text="${job.coreCompetency}">core</td></tr><br>
    </table>
</div>

</body>
</html>